<!-- src/app/hash-form/hash-form.component.html -->
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <p>Please check your email to find the code</p>
      <div class="form-setup col-lg-10">
        <form (ngSubmit)="submitOtp()">
          <div class="form-group">
            <label for="otp">Confirmation code</label>
            <input type="text" class="form-control" id="otp" [(ngModel)]="otp" name="otp" aria-describedby="emailHelp"
              placeholder="Confirmation Code" />
          </div>
          <div class="submission1">
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="side-pic">
        <div>
          <div class="logo-image">
            <img src="./../../../assets/img/ttch.png" alt="Image" />
          </div>
          <img src="./../../../assets/img/bb.png" alt="Image" />
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>