<div class="container">
  <div class="row align-items-center">
  <div class="col-lg-6">
    <div class="form-setup col-lg-10">
    <h2>Login</h2>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="submission">
      <button type="submit" class="btn btn-primary">Login</button>
      <div class="bottom-line mt-3">
        <div>
          <a routerLink="/forgot-pas">Forgot Password</a>
        </div>
        <div>
          <a routerLink="/registration">Create new account</a>
        </div>

      </div>
    </div>
    </form>
  </div>
  </div>
  <div class="col-lg-6">
    <div class="side-pic">
      <div>
        <div class="logo-image">
          <img src="./../../../assets/img/ttch.png" alt="Image" >
        </div>
        <img src="./../../../assets/img/bb.png" alt="Image">
      </div>
    </div>
  </div>
  <hr>
  </div>
  </div>


  <div class="container">
    <div class= "bottomm">
    <div class="head mt-5">
      <h3>Get a simplified invoicing system for your business</h3>
    </div>
    <div class="par">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat numquam quo itaque accusantium deserunt repudiandae aspernatur! Dicta autem vitae officia eius,
         delectus consectetur voluptatum, ipsum, quisquam praesentium laudantium deleniti numquam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Eum quisquam rerum debitis repudiandae, minima est similique nobis iste! Cupiditate debitis repellat aperiam. Quas architecto quidem culpa repellat
          reiciendis quos natus.
      <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maxime, consequatur nostrum numquam assumenda sequi quaerat quis.
         Voluptatum voluptatibus commodi ab aliquid, dolore odit maiores, quidem, repudiandae officiis perspiciatis quisquam? Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Odio autem quos quam amet repellendus quaerat, sunt perspiciatis dicta minima accusantium voluptates
          est eaque eius? Nobis ad deleniti vel quasi a.</p>
      </div>
    <div class="price">
      <h3>Our pricing</h3>
    </div>
    <div class="row">
      <div class="col">
        <div class="border ">
          <div>
            <div class="package">
              <h4>Free</h4>
            </div>
            <div class="button">
              <button type="submit" class="btn btn-primary">Get</button>
            </div>

          </div>
        </div>
      </div>



      <div class="col">
        <div class="border ">
          <div>
            <div class="package">
              <h4>Basic</h4>
            </div>
            <div class="button">
              <button type="submit" class="btn btn-primary">Get</button>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="border ">
          <div>
            <div class="package">
              <h4>Premium</h4>
            </div>
            <div class="button">
              <button type="submit" class="btn btn-primary">Get</button>
            </div>
          </div>
        </div>
      </div>



  </div>
</div>



