<div class="tabs">
  <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
  <label for="tab1" class="tabs__label">Invoice</label>
  <div class="tabs__content">
    <app-invoicetab></app-invoicetab>
  </div>
  <input type="radio" class="tabs__radio" name="tabs-example" id="tab3">
  <label for="tab3" class="tabs__label">Payments</label>
  <div class="tabs__content">
    <app-paymentstab></app-paymentstab>
  </div>
  <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
  <label for="tab2" class="tabs__label">Quotes</label>
  <div class="tabs__content">
    <app-quotestab></app-quotestab>
  </div>
  
</div>
