<div class="container">
  <a [routerLink]="['/addInv']" routerLinkActive="router-link-active" class="btn btn-primary mb-2 float-end text-white">Add Invoice</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Invoice No</th>
      <th>Amount</th>
      <th>Date Issued</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Inv-001</td>
      <td>R1 300</td>
      <td> </td>
      <td>Paid</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Inv-002</td>
      <td>R7 500</td>
      <td> </td>
      <td>Not Paid</td>
      <td>View</td>
    </tr>
    <tr>
      <td>Inv-003</td>
      <td>R10 000</td>
      <td> </td>
      <td>paid</td>
      <td>View</td>
    </tr>
  </tbody>
</table>
</div>


