<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col">
      <a routerLink="/registration">
        <div class="border p-3">        
          <h4>
            Dashboard
          </h4>        
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/customers">
        <div class="border p-3">
          <h4>
            Customers
            <img src="./../../../assets/img/logo2.svg" alt="">
          </h4>        
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/registration">
        <div class="border p-3">
          <h4>
            Invoices
          </h4>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/registration">
        <div class="border p-3">
            <h4>
              Reports
            </h4>        
        </div>
      </a>
    </div>
    <hr>
</div>







